doctype html
html(land="fr" prefix="og: https://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="icon" href="/favicon.ico")
    title=__("Game result")
    if game && game.user && game.game
      meta(property="og:title" content=__("Game result") + " " + game.id)
      meta(property="og:type" content="website")
      meta(property="og:image" content=req.protocol + "://" + req.hostname + "/icon/" + game.game.id)
      meta(property="og:url" content=req.protocol + "://" + req.hostname + "/" + game.id)
      if game.result
        meta(property="og:description" content=__("Player") + " - " + game.user.display_name + "\n"
                                               + __("Land") + " - " + game.game.display_name + "\n"
                                               + __("Score") + " - " + game.result.display_score + "\n"
                                               + __("Level") + " - " + game.result.max_level
                                               + (game.result.is_victory ? " (" + __("victory") + ")" : ""))
      else
        meta(property="og:description" content=__("Player") + " - " + game.user.display_name + "\n"
                                               + __("Land") + " - " + game.game.display_name + "\n"
                                               + __(game.started_at ? "Game not finished" : "Game not started"))
  body
    #content
      block content
