extends layout

block content
  if game && game.run_id
    h1=__("Game not found")
    p=__("The game %s doesn't exist.", game.run_id)
  else
    h1=__("Page not found")
    p=__("The requested page doesn't exist.")
